
  :root {
    --background: #44475a;
    --red: #ff5555;
    --green: #50fa7b;
    --blue: #5429CC;
    --blue-light: #6933FF;
    --text-title: #363F5F;
    --text-body: #969CB3;
    --shape: #FFFFFF;
    --background-card: #282a36;
  }
  
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  body, input, textarea, button, p {
    font-family: 'Poppins', 'Fira Code', sans-serif;
    font-weight: 400;
  }


  body {
    background: var(--background);
    -webikit-font-smoothing: antialiased;
  }

  h1, h2, h3, h4, h5, h6, strong {
    font-weight: 600;
  }

  li {
    list-style-type: none;
  }